/* Variables */

:root {
    --text-color: #221E1E;
    --primary-color: #FFD5CB;
    --primary-darker: #FFC1B2;
    --primary-lighter: #FFFBF9;
    --font-size-base: 1rem; /* 16px */
    --font-size-sm: 1.125rem; /* 18px */
    --font-size-md: 1.5rem; /* 24px */
    --font-size-lg: 1.875rem; /* 30px */
    --font-size-xl: 3.125rem; /* 50px */
    --font-size-xxl: 4.875rem; /* 78px */
}


/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    margin: 0;
    hanging-punctuation: first allow-end last;
    word-break: break-word;
    font-size: var(--font-size-sm);
}

body {
    -webkit-font-smoothing: antialiased;
    min-block-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    margin-block-start: 0;
}

p,
li,
dd {
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}


/* Global */

html {
    font-size: var(--font-size-base);
    line-height: 1.5;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-lighter) 40%);
    background-repeat: no-repeat;
}

a {
    color: var(--text-color);
    font-weight: 600;
}

header,
main,
hr,
header,
footer {
    max-width: 690px;
    margin: 0 auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: var(--text-color) 1px solid;
}

header {
    margin-block-start: 3rem;
    margin-block-end: 0.5rem;
}

header .ornament {
    font-size: var(--font-size-lg);
    color: var(--text-color);
}

main h1 {
    font-family: "rl-horizon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xxl);
}

main .hero {
    margin-block-start: 4.5rem;
    margin-block-end: 4.5rem;
}

main .hero .hero-text {
    font-size: var(--font-size-lg);
}

main .hero .btn {
    margin-block-start: 1.5rem;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    box-shadow: 4px 4px 0 0 var(--text-color);
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.08s ease-out;
}
main .hero .btn:hover {
    transform: translate(2px, 2px);
    background-color: var(--primary-darker);
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
    text-underline-offset: 3px;
}

main .hero .btn:active {
    transform: translate(2px, 2px);
    background-color: var(--primary-darker);
    box-shadow: 2px 2px 0 0 var(--text-color);
}

main h2 {
    font-size: var(--font-size-md);
    font-weight: 600;
    margin-block-start: 2.5rem;
    margin-block-end: 0.625rem;
}

main p,
main ul > li {
    font-size: var(--font-size-sm);
}

main section > :not(:last-child) {
    margin-block-end: 0.5rem;
}

main ul *:not(:first-child) {
    margin-block-start: 0.25rem;
}

main ul {
    padding-left: 1rem;
}

main #about a,
main #contact a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
    text-underline-offset: 3px;
    transition: all 0.08s ease-out;
}

main #about a:hover,
main #contact a:hover {
    background-color: var(--primary-darker);
}

main #about {
    margin-block-end: 6.5rem;
}

main #contact {
    margin-block-end: 4.5rem;
}

main #contact h2 {
    font-family: "rl-horizon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xl);
}

main .contact .email {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 0.08rem;
    text-underline-offset: 3px;
}

footer {
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    font-size: var(--font-size-base);
}

@media (max-width: 799px) {
    header,
    main,
    hr,
    header,
    footer {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    header {
        margin-block-start: 1rem;
    }

    main h1 {
        line-height: 1.1em;
    }

    main .hero {
        margin-block-start: 3rem;
    }

    footer {
        text-align: center;
    }
}